/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  &.overlay {
    color: #3b3b3b; } }

.comment .comment-arrow {
  border-color: #ffffff; }

#page, #main-wrapper {
  background: #ffffff; }

#main-menu-links li {
  a.active, &.active-trail a {} }

.tabs ul.primary li {
  a.active {
    background-color: #ffffff; }
  &.active a {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff; } }

#header {
  background-color: #F6F6F2; }

a {
  color: #0071B3;
  &:hover, &:focus {
    color: #018fe2; }
  &:active {
    color: #23aeff; } }

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9; }

#page-wrapper, #footer-wrapper {
  background: #292929; }

.region-header {
  color: #fffeff;
  a, li a.active {
    color: #fffeff; } }

#name-and-slogan {
  color: #fffeff;
  a {
    color: #fffeff; }
  }

#secondary-menu-links li a {
  color: #fffeff; }

/* ---------- Colors Override ----------- */

$lightbrown: #EDE9DA;
$darkerlightbrown: #DBD6C4;
$darkbrown: #42403b;

#header, #triptych-wrapper {
  background-color: $lightbrown;
} 

#main-menu-links, #footer-wrapper {
  background-color: $darkbrown;
}

.featured #messages {
  background-color: #FFF;
}

#triptych h2 {
  border-color: $darkerlightbrown;
}

#triptych #block-comment-recent li, 
#triptych .latest-news li,
#triptych .block {
  border-color: $darkerlightbrown;                            
}

#triptych-wrapper {
  border-color: $darkerlightbrown;
}
